<div class="paddingwrapper">
	<% @posts.reverse_each do |post| %>
		<%= link_to post do %>
		<div class="post">
		   	<h4 class="issuenum">Issue <%= post.id %></h4>
   			<h1 class="posttitle"><%= post.title %></h1>
    			<p class="postpreview"><%= truncate(post.body, length: 200) %></p>
    		<% if true == false && current_user.id == 1 %>
       			<%= link_to 'Edit', edit_post_path(post) %>
			<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
		<div class="pubdate"><%= post.created_at.strftime("%B %d, '%y") %></div>
		<% end %>
 	 </div>
<% end %>
</div>
