<!DOCTYPE html>
<html>
  <head>
    <title>Tavin Turner | Coming Soon</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'Face_Wireframe.png', type: 'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if request.path != "/" %>
      <div class="leftmenu">
	    <%= link_to image_tag("Face_Wireframe.svg"), root_path, class: "facehomebuttonthing" %>
      </div>
    <% end %>

    <% if notice %>
	    <p class="notice"><%= notice %></p>
    <% elsif alert %>
	    <p class="alert"><%= alert %></p>
    <% end %>


    <% if request.path != "/" %>
	  <div class="wrapleft">
		<%= yield %>
	  </div>
    <% else %>
	    <%= yield %>
    <% end %>

    <% if Rails.env.production? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-101166752-1', 'auto');
        ga('send', 'pageview');

      </script>
      <% puts 'using analytics' %>
    <% else %>
      <% puts 'not using analytics' %>
    <% end %>
  </body>
</html>
