<!DOCTYPE html>
<html>
  <head>
    <title>Tavin Turner | Coming Soon</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'Face_Wireframe.png', type: 'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
